<div class="meal_plans_container">
  <div class="generate_new_plan">
    <%= link_to "Make New Meal Plan", meal_plans_new_path, class: "btn btn-primary col-12 col-md-6"%>
  </div>

    <% @meal_plans.each do |plan| %>
    <div class="row">
    <% plan.meals.each do |meal| %>
    <div class="col col-12 col-md-6">
        <div class="flash alert fade show" role="alert">
            <%= image_tag meal.image_url, class: "col-4 col-ms-3" %>
          <div class="meal_plan_info">
            <h5><%= meal.title %></h5>
            <p><%= plan.created_at.strftime("%b %d, %y") %></p>
          </div>
          <div class="meal_plan_close">
            <a href="#" data-dismiss="alert" aria-label="Close">
            <i class="fas fa-times"></i>
          </a>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  <% end %>
</div>


