// Specific CSS for your home-page
.banner {
  // height: 560px;
  height: 100vh;
  background-size: cover;
  background-position: center;
  h1 {
    color: #87D8C3;
    margin-left: 5vh;
    font-size: 9vh;
    // mark {
    //   color: #F0ECF1;
    //   background-color: #87D8C3;
    // }
  }
  h2 {
    color: #FF665E;
    font-weight: 300;
    padding-left: 6vh;
    font-size: 4vh;
  }
}

.container {
  flex-wrap: wrap;
  position: absolute;
  left: 5vh;
  top: 60vh;
  text-align: center;
}

.diet-type-card {
  height: 200px;
  width: 300px;
  background-position: center;
  margin-top: 5vh;
  margin-right: 25px;
  h2 {
    color: #F0ECF1;
  }
}
