
.recipe-container {
  margin: 100px auto;
  max-width: 1200px;
  padding: 8px;
}

.recipe_details {
  padding-bottom: 30px;
  margin-bottom: 30px;
}

.recipe_details_image {
  img {
    width: 340px;
    height: 340px;
    border-radius: 8px;
    object-fit: cover;
  }
}

.recipe_ingredients_list {
  list-style: none;
}

.recipe_ingredients, .directions{
  color: #5a6268;
  ul {
    padding: 0;
  }
}

.unit {
  font-size: 14px;
  position: relative;
  top: -4px;
  display: block;
  color: #b6acb1;
}

.value {
  font-size: 20px;
  color: #b6acb1;
  display: inline-block;
}

.recipe_summary {
  .recipe_summary_time {
    padding: 0 24px;
    border-left: 1px solid #bababa;
    border-right: 1px solid #bababa;
  }

  .recipe_summary_ingredient {
    padding-right: 24px;
  }

  .recipe_summary_calories {
    padding-left: 24px;
  }
}


