.container_meal_plan_new {
  max-width: 70%;
  margin: 50px auto;
}

.meal_plan_icon, .meal_plan_icon_exclusion {
  list-style: none;
  padding: 0;
  img {
    width: 80px;
    height: 80px;
  }
  .icon {
    display: inline-block;
  }
  .text {
    position: relative;
    top: 8px;
    display: block;
 }
}

.meal_plan_icon a, .meal_plan_icon_exclusion a {
  text-decoration: none;
  color: #5a6268;
  margin: 0 8px;
  text-align: center;
  &:hover {
    color: #87D8C3;
    img {
      border: solid 2px #87D8C3;
      padding: 8px;
      border-radius: 50%;
    }
  }
}

.meal_plan_icon_exclusion a {
  &:hover {
    filter: grayscale(100%);
  }
}

.kcal.active, .type.active, .exclusion.active {
  color: #87D8C3;
  img {
    border: solid 2px #87D8C3;
    background-color: #87D8C3;
    padding: 8px;
    border-radius: 50%;
  }
}

.exclusion.active {
  filter: grayscale(100%);
}

.diet_type_icon li {
  padding-left: 0;
}
