.ingredient-list {
  max-width: 1000px;
  margin: 100px auto;
}

.nav-link.active{
  color: white;
  background-color: #FF665E;
  width: 90px;
  text-align: center;
}

.nav-link {
  color: #5A6268;
  background-color: #6ACFB5;
  width: 90px;
  text-align: center;
}

.list-item {
  border: 2px solid #6ACFB5;
  border-radius: 8px;
  padding: 10px 20px;
  p {
    color: #5A6268;
  }
  &:hover {
    background-color: #B6ACB1;
    border: 2px solid #b6acb1;
    cursor: pointer;
    p{
      color: #5A6268;
    }
  }
}

.list-item.active {
  background-color: #6ACFB5;
  border: 2px solid #6ACFB5;
  p {
    color: #F0ECF1;
  }
}

.cards {
  .recipe-card {
    height: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    img {
      object-fit: cover;
      background-position: center;
      width: 100%;
      height: 160px;
    }
    .recipe-info {
      padding: 10px;
    }
    p {
      color: #B6ACB1;
    }
  }
}

.recipe-link {
  &:hover {
    text-decoration: none;
    color: #FF665E;
  }
}

.loading {
  margin: auto;
  img {
    width: 300px;
    height: 300px;
  }
  .loading-pan {
    color: #3f3f3f;
    margin-left: 40px;
  }
}
.dose_name {
    font-weight: bold;
  }



.down-caret {
  opacity: 0.5;
  transition: .5s;
}

.aisle:hover .down-caret {
  opacity: 1;
}

.time-to-cook {
  position: fixed;
  margin: 68vh 18vw;
  z-index: 1;
}
.ingr_parent_list {
  margin: auto;
  background-color: white;
  border-radius: 3px;
  transition: transform .2s;
  .aisle{
    margin-bottom: 15px;
    padding-top: 5px;
    font-size: 18px;
    color: #3f3f3f;
    display: flex;
    justify-content: space-between;
  }
  .aisle:hover {
  cursor: pointer;
}
}

.ingr-list {
  .row{
    margin: auto;
    padding-bottom: 20px;
    .list-item {
      display: flex;
      justify-content: space-between;
    }
  }
}

.ingr_parent_list:hover, .ingr_parent_list:active {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transform: scale(1.02);
}
