.navbar {
  justify-content: space-between;
  background: white;
}

.navbar .navbar-collapse {
  flex-grow: 0;
  width: 90px;
}

.navbar .navbar-logo {
  img {
    width: 35px;
  }
}

.navbar .empty {
  width: 90px;
}

.dropdown-item {
  &:hover {
    background-color: #87D8C3;
  }
}
