.navbar {
  justify-content: space-between;
  background: white;
}

.navbar .navbar-collapse {
  flex-grow: 0;
}

.navbar .navbar-logo img {
  width: 35px;
}

.navbar .menu-bar {
  color: #B6ACB1;
  &:hover {
    text-decoration: none;
    color: black;
  }
}
